<ion-view view-title="Follow Me">

    <body ng-controller="bluetoothController as bluetooth">
        <ion-nav-buttons side='right'>
            <button id="menu-popover" class="button button-icon button-clear ion-android-more-vertical" ng-click="bluetooth.openPopover($event)"></button>
        </ion-nav-buttons>
        <ion-content ng-controller="homeController as home">
            <ion-list id='list'>
                <div class="item item-divider">
                    All rooms
                </div>
                <ion-list>
                    <ion-item ng-repeat="room in home.rooms" on-swipe-left="bluetooth.goToRoom(room.id)" ng-click="bluetooth.goToRoom(room.id)">
                        {{room.name}}
                    </ion-item>
                </ion-list>
            </ion-list>
            <ion-list id='list'>
                <div class="item item-divider">
                    Beacons in range
                </div>
                <ion-list class="animate-ripple">
                    <ion-item ng-repeat="beacon in home.beacons" ng-if="beacon!==undefined">
                        <p>{{beacon.type}}: {{beacon.rssi}}</p>
                    </ion-item>
                </ion-list>
            </ion-list>

        </ion-content>
        <button id="fab" class="button button-fab button-fab-bottom-right button-overlay" ng-click="$state.go('addRoom')"><i class=" icon ion-android-add "></i>
        </button>
    </body>
</ion-view>