<ion-popover-view class="popover none ng-enter active ng-enter-active" style="top: 44px; left: 174px; margin-left: 0px; opacity: 1;" ng-controller="bluetoothController as bluetooth">

    <ion-header-bar class="bar bar-header disable-user-behavior">

        <h1 class="title">

        Closest Beacon

    </h1>

    </ion-header-bar>
    <ion-content class="padding scroll-content ionic-scroll has-header" ng-switch="bluetooth.closest.normalizedPower">

        <p>{{bluetooth.closest}}</p>

    </ion-content>
    <div class="popover-arrow" style="left: 202px;"></div>

</ion-popover-view>