<ion-view title="room">
    <body ng-controller="roomController as room">
        <ion-content ng-init="room.getData()">
            <ion-list>
                <div class="item item-divider">
                Lights
                </div>
                <ion-item ng-repeat="light in room.lights" class="item item-toggle">
                    {{light.name}}
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-checked="light.status">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
            </ion-list>
            <ion-list>
                <div class="item item-divider">
                Audio
                </div>
                <ion-item ng-repeat="radio in room.radios" class="item item-toggle">
                    {{radio.name}}
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-checked="radio.status">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    <div class="range">
                        <button class="button button-clear" ng-click="room.changeVolume('-5')">
                            <i class="icon ion-volume-low"></i>
                        </button>
                        <input type="range" name="volume" min="0" max="100" value={{radio.volume}}>
                        <i class="icon ion-volume-high" ng-click="room.changeVolume('5')"></i>
                    </div>
                </ion-item>
            </ion-list>
            <ion-list>
                <div class="item item-divider">
                Heating
                </div>
                <ion-item ng-repeat="heating in room.heating" class="item item-toggle">
                    {{heating.name}}
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-checked="heating.status">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    <div class="range">
                        <button class="button button-clear">
                            <i class="icon ion-volume-low"></i>
                        </button>
                        <input type="range" name="volume" min="0" max="100" value={{heating.temp}}>
                        <i class="icon ion-volume-high"></i>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </body>
</ion-view>