<ion-view ng-controller="roomController as room" title="{{room.room.name}}">

    <body>
        <ion-nav-buttons side="left">
            <button class="button button-clear button-icon icon ion-android-arrow-back" ng-click="$state.go('home')">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear button-icon icon ion-android-delete" ng-click="room.remove(room.room.id)">
            </button>
            <button class="button button-clear button-icon icon ion-android-create" ng-click="room.goToEdit(room.room.id)">
            </button>
        </ion-nav-buttons>
        <ion-content>
            <div class="item item-divider">
                Beacon UUID: {{room.room.beacon}}
            </div>
            <div class="item item-divider">
                Lights
            </div>
            <ion-item ng-repeat="light in room.room.lights" class="item item-toggle">
                {{light.name}}
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-checked="light.state">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
            </ion-list>
            <ion-list>
                <div class="item item-divider">
                    Audio
                </div>
                <ion-item ng-repeat="audio in room.room.audio" class="item item-toggle">
                    {{audio.name}}
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-checked="audio.state">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
            </ion-list>
            <ion-list>
                <div class="item item-divider">
                    Heating
                </div>
                <ion-item ng-repeat="heating in room.room.heating" class="item item-toggle">
                    {{heating.name}}
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-checked="heating.state">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
            </ion-list>
        </ion-content>
    </body>
</ion-view>